1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

In [ ]:
"""

*       = Expression
"hello" = Value
-87.8   =Value
-       =Expression
/       =Expression
+       =Expression
6       =Value

"""

2. What is the difference between string and variable?

Variables: Variables are symbols that you can use to store data or values in a program. 

example:

number=10 
Here number represent variable where as 10 is a value

Stings:  Strings are one of the data type which we use to  fill up a variable.

example:

name="Ambalika"

Here name is a variable where we are storing string data (Ambalika).

3. Describe three different data types.

In [4]:
#Sting
#integer 
#float

name="ambalika"
age=28
price=91.20
print(type (name))
print(type (age))
print(type (price))

<class 'str'>
<class 'int'>
<class 'float'>

4. What is an expression made up of? What do all expressions do?

An expression is a combination of values, variables, operators, and function calls that can be evaluated to produce a result. It represents a computation or a calculation in a programming language or mathematical context.

All expression give results

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

Ans: spam=10 is a statment.

1.expression evalute values and produce results but on the other hand statment perform action and can not print results.

2. expression can be made up of several expression but stament can not made up of several satment.

3.expression mostly define by the useres but most statments are predefine in the programming language

6. After running the following code, what does the variable bacon contain?

bacon = 22 

bacon + 1

Ans:
    bacon variable contain 22  cause bacon+1 was not assign any variable where updated bacon value will be stored.

7. What should the values of the following two terms be?

'spam' + 'spamspam'

'spam'*3

In [6]:

S1='spam' + 'spamspam' #this term performs string concatenation, so the result would be 'spamspamspam'.
S2='spam'*3 #This term performs string repetition, so the result would be 'spamspamspam'.
print(S1)
print(S2)

spamspamspam
spamspamspam

8. Why is eggs a valid variable name while 100 is invalid?

Ans:
    100 are invalid variable because it is starts with number. varibles can not start with number or special character.
    On the other hand eggs is a string so we can use as a variable.

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [7]:
#Ans: use function int(),float(),str()
#example
a=int(10.2)
print(type(a))

b=str(10)
print(type(b))

c=float(10)
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

10. Why does this expression cause an error? How can you fix it?
"I have eaten" + 99 +"burritos."

In [12]:
'''Ans:
"I have eaten" + 99 +"burritos." will show error cause data types are not same, so can not concatinate all the data.
but if we will change the int data type 99 to str then we will get result.

concat="I have eaten" + 99 +"burritos."
print(concat)

show error '''

concat1="I have eaten" + "99" +"burritos."
print(concat1)

I have eaten99burritos.